.container {
  width: 100%;
  position: relative;
}

.container>input {
  text-indent: 2rem;
  font-size: 2rem;
  font-weight: bold; 
  color: var(--main-red);
}

.new-topic {
  width: 100%;
  position: relative;
}

.new-topic input {
  text-indent: 2.5rem;
  font-size: 1.375rem;
  color: var(--sub);
}

.new-topic input:nth-child(1) {
  font-weight: bold;
}

.new-topic input:nth-child(2) {
  font-weight: normal;
}