.container {
  position: absolute;
  top: 0; right: 0;
  width: 256px;
  height: 64px;
  display: flex;
}

.button {
  width: 64px;
  height: 100%;
  padding: 8px;
  color: var(--main-red);
  cursor: pointer;
}

.disabled {
  color: var(--gray);
}