.container {
  width: 100%;
  position: relative;
}

.topic-name {
  text-indent: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--black);
}

.topic-description {
  text-indent: 2.5rem;
  font-size: 1.375rem;
  font-weight: normal;
  color: var(--gray);
}