.container {
  width: 100%;
  background-color: var(--background-white);
  margin-top: 96px;

  --box-height: 624px;
}

.profile-box {
  position: relative;
  width: 100%;
  height: var(--box-height);
}

.main-info {
  position:relative;
  width: 1020px;
  margin: 0 auto;
  padding: 32px;
  display: flex;
}

.image-container {
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 4px var(--black-o80);
}

.profile-content {
  width: 604px;
  margin-left: 32px;
}

.profile-content h1 {
  height: 64px;
  line-height: 64px;
  font-size: 2rem;
  font-weight: bold;
  color: var(--black);
}

.profile-content h2 {
  height: 32px;
  line-height: 32px;
  font-size: 1.25rem;
  font-weight: normal;
  color: var(--gray);
  text-indent: 0;
  margin: 0;
}

.profile-content h2 span {
  color: var(--main-red);
  font-weight: bold;
}

.div-line {
  width: 64px;
  height: 0px;
  border: 1px solid var(--gray);
  margin: 16px auto;
}

.profile-content li {
  position: relative;
  list-style: none;
  height: 32px;
  line-height: 32px;
  font-size: 1.25rem;
}

.profile-content li span {
  background-color: #ffff0080 ;
}

.deco {
  position: absolute;
  left: 0; bottom: 0;
  width: 100%;
  height: 128px;
  background-color: var(--sub-dark);
  box-shadow: 0 0 4px 2px var(--black-o80);
  border-radius: 16px 16px 0 0;
}

.background {
  position: absolute;
  left: 0; top: 280px;
  min-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.background .main-block {
  position: relative;
  width: 1280px;
  height: 432px;
  background-color: var(--white);
  box-shadow: 0 4px 4px 2px var(--black-o80);
  border: 1px solid var(--white-gray);
  border-bottom: none;
}

.resume {
  font-family: "BareunBatang";
  font-size: 3.5rem;

  margin-top: 80px;
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-indent: 7rem;
  color: var(--gray);
  user-select: none;
}

.sub-info {
  height: 128px;
  width: 100%;
  padding: 0 7rem;
  margin-top: 16px;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
}

.left-side {
  border-radius: 0 0 16px 0;
}

.right-side {
  border-radius: 0 0 0 16px;
}


.project-box {
  position: relative;
  width: 100%;
  background-color: var(--sub);
  box-shadow: 0 0 4px 2px var(--black-o80);
  padding-top: 128px;
  padding-bottom: 128px;
}

.project-box h1 {
  width: 100%;
  height: 128px;
  line-height: 128px;
  font-size: 4rem;
  text-indent: 4rem;
  font-weight: normal;
  color: var(--black);
}

.project-list {
  width: 100%;
  padding: 0 5%;
}