.container {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.reply-to {
  width: 100%;
  height: 48px;
  background-color: var(--white-gray);
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  padding-left: 32px;
  transition: all ease .25s;
  position: relative;
}

.reply-to:hover {
  background-color: var(--main-red);
}

.reply-to>div {
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all ease .25s;
}

.reply-to-name {
  color: var(--gray);
  padding-left: 16px;
  gap: 16px;
}

.reply-to:hover .reply-to-name {
  color: var(--main-red)
}

.cancel-icon {
  justify-content: center;
  color: var(--white-gray);
  opacity: 0;
}

.reply-to:hover .cancel-icon {
  opacity: 1;
}

.button-box {
  width: 100%;
  height: 48px;
  background-color: var(--white-gray);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  width: auto;
  height: 40px;
  padding: 0 16px;
  font-size: 1rem;
  color: var(--main-red);
  line-height: 40px;
  user-select: none;
  cursor: pointer;
}