@media (min-width: 0px) {
  .container {
    width: 100%;
  }

  .container .header .emoji-box {
    height: 75px;
    font-size: 75px;
    line-height: 75px;
  }

  .container .header .title {
    font-size: 28px;
    padding-left: 10px;
  }

  .container .header .subtitle {
    width: 100%;
    height: 35px;
    font-size: 14px;
    color: #999999;
    line-height: 35px;
    padding-left: 10px  ;
  }
}

@media (min-width: 700px) {
  .container {
    width: 700px;
    margin: 0 auto;
  }

  .container .header .emoji-box {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 90px;
    line-height: 100px;
  }

  .container .header .title {
    font-size: 36px;
  }

  .container .header .subtitle {
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #999999;
    line-height: 50px;
  }
}

.container {
  padding-bottom: 20px;
}

.container .header {
  width: 100%;
  margin-top: 20px;
}

.container .header .emoji-box {
  width: 100%;
  text-align: center;
}

.container .header .title {
  width: 100%;
  font-weight: bold;
}

.container .header .subtitle {
  width: 100%;
  color: #999999;
}

.container .body .button-box {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .body .comment-box {
  width: 100%;
}