.container {
  width: 700px;
  padding-bottom: 10px;
}

.container .header {
  position: relative;
  width: 665px;
  height: 40px;
  margin-right: 35px;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  user-select: none;
}

.container .header .delete-button {
  position: absolute;
  right: 130px;
  bottom: 0;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: none;
  background-color: unset;
}

.container .content {
  width: 550px;
  margin-left: 125px;
  margin-top: 10px;
  border-radius: 15px;
  padding: 15px;
  background-color: #f1d8ed;
  font-size: 18px;
  user-select: none;
}