@media (min-width: 0px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .container .header {
    width: 100%;
    margin-right: 0;
    padding-right: 10px;
    font-size: 16px;
  }

  .container .content {
    width: 80%;
    margin-left: 20%;
    font-size: 16px;
  }
}

@media (min-width: 700px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .container .header {
    width: 650px;
    font-size: 18px;
  }

  .container .content {
    width: 550px;
    margin-left: 100px;
    font-size: 18px;
  }
}

.container {
  width: 100%;
  padding-bottom: 10px;
}

.container .header {
  position: relative;
  height: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  user-select: none;
}

.container .content {
  margin-top: 10px;
  border-radius: 15px;
  padding: 15px;
  background-color: #f1d8ed;
  user-select: none;
}