@font-face {
  font-family: 'KCC-eunyoung';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 0px) {
  .container {
    width: 100%;
  }

  .container .profile-box {
    height: 300px;
  }

  .container .profile-box .profile-image-box {
    height: 200px;
  }

  .container .profile-box .profile-image-box .profile-image {
    width: 150px;
    height: 150px;
  }

  .container .profile-box .name {
    height: 30px;
    line-height: 30px;
    font-size: 25px;
  }
}

@media (min-width: 700px) {
  .container {
    width: 700px;
    margin: 0 auto;
  }

  .container .profile-box {
    height: 400px;
  }

  .container .profile-box .profile-image-box {
    height: 250px;
  }

  .container .profile-box .profile-image-box .profile-image {
    width: 200px;
    height: 200px;
  }

  .container .profile-box .name {
    height: 50px;
    line-height: 50px;
    font-size: 40px;
  }
}

.container .profile-box {
  width: 100%;
}

.container .profile-box .profile-image-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .profile-box .profile-image-box .profile-image {
  position: relative;
  border-radius: 100px;
  overflow: hidden;
  transition: all ease .5s;
}

.container .profile-box .name {
  width: 100%;
  text-align: center;
  font-family: 'KCC-eunyoung';
}

.container .content {
  width: 100%;
  height: 1000px;
}

.container .profile-box .profile-image-box .profile-image img {
  object-fit: cover;
}