@font-face {
  font-family: 'KCC-eunyoung';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'D2Coding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BareunBatang';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff') format('woff');
}
:root {
  font-size: 16px;
  --main-red: #f31560;
  --main-red-o22: #f3156022;
  --main-red-o40: #f3156040;
  --main-red-o80: #f3156080;
  --main-red-of0: #f31560f0;
  --black: #111111;
  --black-o80: #11111180; 
  --black-o40: #11111140;
  --gray: #7f7f7f;
  --light-gray: #7f7f7f80;
  --white-gray: #eaeaea;
  --background-white: #f9f9f9;
  --white: #fcfcfc;
  --white-oa0: #ffffffa0;
  --sub: #FFB07F;
  --sub-o20: #FFB07F20;
  --sub-o40: #FFB07F40;
  --sub-o80: #FFB07F80;
  --sub-dark: #d8905F;
  --sub-shadow: #F7A877;
  --third: #FFECAF;
  --third-o80: #FFECAF80;
  --warning: #f00f0f;
}

body {
  background-color: var(--background-white);
}

body.small {
  overflow-y: hidden;
}

body.mobile-chapter-list {
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "SUIT-Regular";
}

.warning {
  background-color: #ff0000a0;
}

a {
  text-decoration: none;
}

button {
  color: #111111
}

.invisible {
  position: absolute;
  left: -9999px;
}

/* PM */
.ProseMirror {
  padding: 4px;
  min-height: 256px;
}

.comment-editor {
  min-height: 48px;
}

.comment-editor.editable {
  min-height: 128px;
}

.comment-editor:focus {
  outline: none;
}

.ProseMirror .empty-editor:first-child::before {
  color: var(--gray);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror p {
  line-height: 1.75rem;
  margin: 1px 0;
}

.ProseMirror h1,h2,h3,h4,h5,h6 {
  margin-top: 1.5rem;
  margin-bottom: .25rem;
}

.ProseMirror ul,ol {
  padding: 0 1rem;
  padding-left: 1.5rem;
  margin: .2rem 0;
}

.ProseMirror li {
  text-indent: 5px;
}

.ProseMirror li::marker {
  margin-left: 20px;
}

.ProseMirror a {
  text-decoration: underline;
}

.ProseMirror img {
  height: auto;
  max-width: 100%;
}

.ProseMirror code {
  background-color: var(--sub-o20);
  border-radius: 0.25em;
  box-decoration-break: clone;
  color: var(--main-red);
  font-size: 0.9rem;
  padding: 0.25em;
  font-family: "D2Coding", monospace;
}

.ProseMirror pre {
  background: var(--sub-o40);
  border-radius: 0.5rem;
  color: var(--main-red);
  font-family: "D2Coding", monospace;
  padding: 1rem 1rem;
  margin: 1rem 0;
}

.ProseMirror pre code {
  background: none;
  padding: 0;
}

.ProseMirror blockquote {
  border-left: 3px solid var(--third);
  padding: .5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: var(--third-o80);
  border-radius: 0 0 0px 8px;
  box-shadow: 2px 2px 1px 1px var(--black-o40);
}

.ProseMirror table {
  border-collapse: collapse;
  margin: 0 auto;
  table-layout: fixed;
  /* width: 100%; */
}

.ProseMirror td,th {
  border: 2px solid var(--black);
  padding: 3px 5px;
  position: relative;
  vertical-align: top;
}

.ProseMirror th {
  background-color: var(--third-o80);
  font-weight: bold;
  text-align: left;
}

.ProseMirror .selectedCell:after {
  background: var(--sub-o80);
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 10;
}

.ProseMirror .tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}

.ProseMirror .column-resize-handle {
  background-color: #adf;
  bottom: -2px;
  position: absolute;
  right: -2px;
  pointer-events: none;
  top: 0;
  width: 4px;
}

.ProseMirror .resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}