@font-face {
  font-family: 'KCC-eunyoung';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'D2Coding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BareunBatang';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/orgs/othrs/kpa/BareunBatang/BareunBatangOTFM.woff') format('woff');
}
:root {
  font-size: 16px;
  --main-red: #f31560;
  --black: #111111;
  --black-o80: #11111180; 
  --gray: #7f7f7f;
  --light-gray: #7f7f7f80;
  --white-gray: #eaeaea;
  --background-white: #f9f9f9;
  --white: #fcfcfc;
  --white-oa0: #ffffffa0;
  --sub: #FFB07F;
  --sub-o40: #FFB07F40;
  --sub-dark: #d8905F;
  --main-red-o22: #f3156022;
  --main-red-o40: #f3156040;
  --main-red-of0: #f31560f0;
}

body {
  background-color: var(--background-white);
}

body.small {
  overflow-y: hidden;
}

body.mobile-chapter-list {
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "SUIT-Regular";
}

.warning {
  background-color: #ff0000a0;
}

a {
  text-decoration: none;
}

button {
  color: #111111
}

/* PM */
.ProseMirror {
  min-height: 728px;
  padding: 5px;
  overflow-y: auto;
}

.ProseMirror p {
  line-height: 1.75rem;
  margin: 1px 0;
}

.ProseMirror h1,h2,h3,h4,h5,h6 {
  text-indent: 10px;
  margin-top: 1rem;
  margin-bottom: .25rem;
}

.ProseMirror ul,ol {
  padding: 0 1rem;
  padding-left: 1.5rem;
  margin: .2rem 0;
}

.ProseMirror li {
  text-indent: 5px;
}

.ProseMirror li::marker {
  margin-left: 20px;
}

.ProseMirror a {
  text-decoration: underline;
}

.ProseMirror img {
  height: auto;
  max-width: 100%;
}

.ProseMirror code {
  background-color: #2e3840;
  border-radius: 0.25em;
  box-decoration-break: clone;
  color: #f9dbbb;
  font-size: 0.9rem;
  padding: 0.25em;
}

.ProseMirror pre {
  background: #2e3840;
  border-radius: 0.5rem;
  color: #f9dbbb;
  font-family: "D2Coding", monospace;
  padding: 0.75rem 1rem;
}

.ProseMirror pre code {
  background: none;
  color: inherit;
  padding: 0;
  font-family: "D2Coding";
}

.ProseMirror blockquote {
  border-left: 3px solid rgba(13, 13, 13, 0.1);
  padding-left: 1rem;
  margin-left: 1rem;
}