@font-face {
  font-family: 'KCC-eunyoung';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.w-md-editor-text *,
code * {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

* {
  /* font-family: 'NanumSquareNeo-Variable'; */
}

.warning {
  background-color: #ff0000a0;
}

a {
  text-decoration: none;
}

button {
  color: #111111
}

/* PM */
.ProseMirror {
  min-height: 500px;
  padding: 5px;
}

.ProseMirror p {
margin-bottom: 5px;
}

.ProseMirror h1,h2,h3,h4,h5,h6 {
  text-indent: 10px;
}

.ProseMirror ul,ol {
  padding: 0 1rem;
}

.ProseMirror a {
  text-decoration: underline;
}