.container {
  width: 700px;
  height: 500px;
  margin: 0 auto;
  padding: 20px 0;
}

.title {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 30px;
  border: 0;
  outline: none;
  font-size: 18px;
  font-weight: bold;
}

.title:focus {
  outline: none;
  border-bottom: 1px solid #111111;
}

.button-box {
  display: flex;
  justify-content: space-between;
}

.topic {
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.topic .label {
  width: 50px;
  height: 100%;
  line-height: 30px;
  text-align: end;
}

.topic input {
  width: 120px;
  height: 30px;
  line-height: 30px;
  border: 0;
  margin-left: 5px;
  font-weight: bold;
}

.topic input:focus {
  outline: none;
  border-bottom: 1px solid #111111;
}

.submit-button {
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #eeeeee;
  height: 30px;
  line-height: 30px;
  transition: .5s all ease;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #f1d8ed;
}

.viewer {
  width: 700px;
  height: 500px;
}