.container {
  width: 1280px;
  margin: 0 auto;
  padding-top: 64px;
}

.container h1 {
  font-size: 2rem;
}

.list {
  background-color: var(--white);
}

.item {
  display: flex;
  align-items: center;
  min-height: 32px;
  padding-left: 16px;
}

.button-box {
  display: flex;
  width: auto;
  height: 32px;
}

.button {
  width: 32px;
  height: 32px;
  padding: 8px;
  color: var(--main-red);
}