@media (min-width: 0px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 700px) {
  .container {
    margin: 0 auto;
    width: 700px;
  }
}

.container {
  height: 50px;
  display: flex;
}

.container a {
  flex-grow: 1;
  height: 50px;
  padding: 8px;
  background: none;
  border: none;
  transition: .5s all ease;
  cursor: pointer;
  color: #111111
}

.container a:hover {
  flex-grow: 2;
  padding: 0;
  background-color: #eeeeee;
}