.container {
  width: 100%;
  height: 100%;
  border-left: 4px solid var(--white-gray);
  border-right: 4px solid var(--white-gray);
}

.menu-bar {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 16px;
  background-color: var(--white-gray);
}

.menu-item {
  width: 32px;
  height: 32px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--gray);
  transition: all ease .25s;
}

.menu-item:hover {
  color: var(--main-red);
}