.container {
  width: 1280px;
  min-height: 960px;
  margin: 0 auto;
  margin-top: 64px;
  position: relative;
  overflow: hidden;
}

.content {
  width: 2560px;
  display: flex;
  position: absolute;
  left: 0; top: 0;
  transition: all .5s ease-out;
}

.clicked {
  left: -1280px; 
}

.slide-type {
  width: 50%;
}

.slide-post {
  width: 50%;
}

