.container {
  width: 100vw;
  min-height: calc(100vh);
  margin: 0 auto;
  position: relative;
}

.content {
  width: 200vw;
  display: flex;
  position: absolute;
  left: 0; top: 0;
  transition: all .5s ease-out;
}

.clicked {
  left: -100vw; 
}

.slide-type {
  width: 50%;
}

.slide-post {
  width: 50%;
}

