.container {
  width: 100vw;
  overflow-x: hidden;
}

.content {
  width: 200vw;
  display: flex;
  margin-left: 0;
  transition: all .5s ease-out;
}

.clicked {
  margin-left: -100vw;
  left: -100vw; 
}

.slide-type {
  width: 50%;
}

.slide-post {
  width: 50%;
}

