.container {
  width: 1280px;
  margin: 0 auto;
}

.back-button {
  width: 96px;
  height: 32px;
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  color: var(--gray);
  font-size: 1rem;
}

.icon {
  width: 32px;
  height: 32px;
  padding: 8px;
}