.container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 64px);

  @media (min-width: 900px) {
    display: none;
  }
}

.box {
  position: absolute;
  left: calc(50% - 180px);
  top: 10%;
  width: 360px;
}

.box p {
  text-align: center;
  font-size: 1.25rem;
  color: var(--black);
}

.box a {
  display: block;
  text-align: center;
  margin-top: 3rem;
  line-height: 3rem;
  background-color: var(--main-red-o22);
  border-radius: 8px;
}