.container {
  width: 100%;
  height: calc(100vh - 64px);
  background-color: var(--white);
  display: flex;
  user-select: none;

  --line-h: 29px;
  --big-line-h: 49px;

  --pf-background-gray: #f3f3f3;
  --pf-background-gray-hover: #e3e3e3;
  --pf-gray: #646464;
  --pf-gray-o80: #64646480;
  --pf-selected-blue: #0360c0;
  --pf-background-font-color: #80000080;
  --pf-editor-font-color: #800000;

  opacity: 1;
  animation: open 1s ease;
}

@keyframes open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.explorer {
  flex-basis: 208px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: var(--pf-background-gray);
  height: 100%;
  color: var(--pf-gray);
  font-size: .75rem;
}

.title {
  width: 100%;
  height: var(--big-line-h);
  text-indent: var(--line-h);
  line-height: var(--big-line-h); 
}

.file-line {
  width: 100%;
  height: var(--line-h);
  line-height: var(--line-h);
  display: flex;
  cursor: pointer;
  align-items: center;
}

.file-line:hover {
  background-color: var(--pf-background-gray-hover);
}

.list-title {
  font-weight: bold;
  text-indent: var(--line-h);
}

.icon {
  width: calc(var(--line-h) / 1.5);
  height: calc(var(--line-h) / 1.5);
  margin-right: 5px;
}

.ignored {
  color: var(--pf-gray-o80);
}

.opened {
  color: var(--white);
  background-color: var(--pf-selected-blue);
}

.opened:hover {
  background-color: var(--pf-selected-blue);
}

.content {
  flex-grow: 1;
  overflow-x: hidden;
}

.file-tab-list {
  width: 100%;
  background-color: var(--pf-background-gray);
  display: flex;
}

.file-tab {
  display: flex;
  height: var(--line-h);
  line-height: var(--line-h);
  font-size: .75rem;
  background-color: var(--white);
  padding: 0 8px;
  align-items: center;
}

.path {
  height: var(--line-h);
  line-height: var(--line-h);
  font-size: .75rem;
  color: var(--pf-gray-o80);
  padding-left: var(--line-h);
  display: flex;
  align-items: center;
}

.editor {
  display: flex;
}

.code {
  flex-grow: 1;
  font-size: .75rem;
  overflow-x: hidden;
}

.line {
  width: 100%;
  height: var(--line-h);
  line-height: var(--line-h);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: var(--pf-background-font-color);
  animation: typing 5s ease;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}