.container {
  width: 100%;
  background-color: var(--background-white);
  margin-top: 96px;

  --box-height: 624px;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
}

.left-side {
  border-radius: 0 0 16px 0;
}

.right-side {
  border-radius: 0 0 0 16px;
}

.project-box {
  position: relative;
  width: 100%;
  background: linear-gradient(135deg, var(--sub), var(--sub-shadow));
  box-shadow: 0 0 4px 2px var(--black-o80);
  padding-top: 32px;
  padding-bottom: 128px;
}

.project-box h1 {
  width: 100%;
  height: 128px;
  line-height: 128px;
  font-size: 4rem;
  text-indent: 4rem;
  font-weight: normal;
  color: var(--black);
}

.project-list {
  width: 100%;
}

@media (max-width: 1019px) {
  .project-box {
    padding-top: 0;
  }

  .project-box h1 {
    font-size: 2rem;
    text-indent: 2rem;
    height: 64px;
    line-height: 64px;
  }
}