.container {
  margin-bottom: 64px;
  padding: 32px 0;
}

.img {
  min-width: 700px;
  width: 700px;
  height: 400px;
  position: relative;
  padding: 16px;
  background-color: var(--white);
  box-shadow: 2.5px 2.5px 2px 2px var(--black-o80);
}

.img img {
  object-fit: contain;
}

.info {
  width: 516px;
  height: auto;
  padding: 16px;
  background: linear-gradient(135deg, #FCEC81, #F4E479) ;
  border: #FCEC81 1px solid;
  box-shadow: 2.5px 2.5px 2px 2px var(--black-o80);
}

.title {
  display: flex;
  min-height: 64px;
  line-height: 64px;
  font-weight: bold;
  font-size: 1.75rem;
  align-items: flex-start;
  justify-content: space-between;
}

.description {
  font-size: 1rem;
}

.date {
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  color: var(--gray);
}

.histories {
  width: 100%;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 16px;
}

.histories ul{
  list-style: none;
}

.history {
  font-size: 1rem;
  font-weight: normal;
}

.icon-row {
  display: flex;
  height: 64px;
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
  }

  .img {
    min-width: 700px;
    width: 700px;
    height: 400px;
  }

  .info {
    margin-left: 32px;
  }
}


@media (min-width: 720px) and (max-width: 1279px) {
  .container {
    width: 100%;
    display: block;
  }

  .img {
    margin: 0 auto;
    /* min-width: 350px;
    width: 350px;
    height: 200px; */
  }

  .info {
    margin: 0 auto;
    margin-top: 32px;
  }
}

@media (max-width: 719px) {
  .container {
    width: 100%;
    display: block;
  }

  .img {
    margin: 0 auto;
    min-width: 280px;
    width: 280px;
    height: 160px;
  }

  .info {
    max-width: 516px;
    width: 95%;
    margin: 0 auto;
    margin-top: 32px;
  }
}

