.container {
  width: 100%;
  display: flex;
  margin: 32px 0;
}

.author-box {
  width: 64px;
  height: 100%;
  padding: 4px;
}

.profile-image {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 16px;
  overflow: hidden;
}

.content::before {
  display: block;
  content: "";
  position: absolute;
  left: -8px;
  top: 16px;
  width: 8px;
  height: 16px;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  /* background-color: var(--gray); */
}

.content {
  width: calc(100% - 8px);
  margin-left: 8px;
  /* border: 1px solid var(--gray); */
  border-radius: 8px;
  position: relative;
}

.content::after {
  display: block;
  content: "";
  position: absolute;
  left: -7px;
  top: 16px;
  width: 8px;
  height: 16px;
  clip-path: polygon(0 50%, 100% 0, 100% 100%);
  background-color: var(--white-gray);
}

@media (max-width: 479px) {
  .author-box {
    width: 48px;
  }

  .profile-image {
    width: 40px;
    height: 40px;
  }
}