.content {
  border-radius: 20px;
  height: 100%;
  user-select: none;
  cursor: pointer;
  transition: all ease .25s;
}

.topic-name {
  width: 100%;
}

.topic-description {
  width: 100%;
  font-size: 1.375rem;
  color: var(--gray);
}

@media (min-width: 800px) {
  .container {
    width: 400px;
    height: 280px;
    padding: 16px;
  }

  .content {
    border: 1px solid var(--white-gray);
    padding: 32px;
    background-color: var(--white);
  }

  .content:hover {
    border-color: var(--gray);
  }

  .topic-name {
    font-size: 2rem;
    color: var(--black);
    font-weight: bold;
  }

  .topic-description {
    display: block;
  }
}

@media (max-width: 799px) {
  .container {
    width: 100%;
    height: 64px;
    padding: 0;
  }

  .content {
    padding: 18px 8px;
  }

  .content:hover .topic-name {
    color: var(--black);
  }

  .topic-name {
    font-size: 1.25rem;
    color: var(--gray);
    font-weight: normal;
  }

  .topic-description {
    display: none;
  }
}
