.description {
  display: block;
  width: 100%;
  height: 128px;
  line-height: 128px;
  color: var(--black);
  text-align: center;
  user-select: none;
  font-size: 2rem;
  font-weight: normal;
}

.content {
  width: 100%;
}

@media (max-width: 799px) {
  .container {
    width: 100%;
    margin: 0;
  }

  .description {
    display: none;
  }
}

@media (min-width: 800px) and (max-width: 1199px) {
  .container {
    width: 800px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1600px;
    margin: 0 auto;
  }
}
